
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/Checkout.css">

<div class="row">
    <div class="col-7 mx-auto" id="emptyCart">
        <div class="emptyCartData">

            <img src="~/Images/cart_empty.png" alt="" />
            <h4>YOUR CART IS EMPTY</h4>
            <P>Please add some items from the menu.</P>
            <button class="btn" id="exploreMenu" onclick="location.href='/Dominos/MenuPage'" type="button">EXPLORE MENU</button>
        </div>
    </div> 

    <div class="col-4 p-4">
        <p><b>Price Details</b></p>
        <div id="billAmount" class="px-4 py-3">
            <div class="row">
                <ul class="col-9">
                    <li>Sub Total</li>
                    <li>GST</li>
                    <li>Discount</li>
                    <hr />
                    <li>Grand Total</li>
                </ul>
                <ul class="col-3 viewEmptyTotal">
                    <li id="subTotal">₹  0</li>
                    <li id="gst">₹  0</li>
                    <li id="discount">-</li>
                    <hr style="position:relative;left:-30px" />
                    <li id="grandTotal">₹  0</li>

                </ul>
            </div>
            <button class="btn" id="placeOrder">PLACE ORDER</button>
        </div>
    </div>
</div>



@section scripts
{
    <script>

        var old_html = $('.emptyCartData').html();
        var oldhtmlcart = $('.viewEmptyTotal').html();

        $(document).ready(function () {
            displayFinalCart();
            addPlaceOrderRequest();
        });

        function displayFinalCart() {

            let items = `<div  id="loadCart">`;
            let Gst = 0;
            var GrandTotal = 0;
            var subTotal = 0;
            var LineTotalPrice = 0;
            $.ajax({
                url: 'http://localhost:53612/api/Pizza/GetAllCartData',
                method: 'Get',
                headers:{
                    'Authorization': 'Bearer ' + sessionStorage.getItem('tokens')
                },
                success: function (data) {

                    console.log(data);
                    if (data == "") {
                        $("#loadCart").empty();
                        $(".emptyCartData").html(old_html);
                        $(".viewEmptyTotal").html(oldhtmlcart);
                        return;
                    }
                    $("#emptyCartData").hide();
                    $("#loadCart").remove();
                    for (let x in data) {

                        LineTotalPrice = data[x].Price * data[x].Quantity;
                        subTotal += LineTotalPrice;
                        Gst = parseInt(subTotal * 0.05);
                        LineTotal = data[x].Price * data[x].Quantity;
                        GrandTotal = subTotal + Gst;
                        items += `<div class="row mar">
                                    <div class ="col-sm-2"><img src="${data[x].Image}" id="imghgt"></div>
                                     <div class ="col-sm-10">
                    <div class ="float-right text-center"><h5> ₹ ${LineTotal}</h5>
                <div class="Quantity">Quantity  <i class="fas fa-minus-square fa-lg" id="${data[x].ProductId}"></i>
                ${data[x].Quantity}  <i class="fas fa-plus-square fa-lg" id="${data[x].ProductId}"></i></div></div>
                <h5>${data[x].MenuName}</h5><p>${data[x].Description}</p><p>${data[x].Size}</p></div></div><hr/>`;
                        LineTotal = 0;
                    }

                    $('.emptyCartData').html(items);
                    $('#subTotal').html("₹ " + subTotal);
                    $('#gst').html("₹ " + Gst);
                    $('#grandTotal').html("₹ " + GrandTotal);
                    sessionStorage.setItem('Amount',GrandTotal);
                    changeQuantityEvent()
                }
            });
            }

        function changeQuantityEvent() {
            $(".fa-plus-square").click(function () {
                let productid = $(this).attr("id");

                $.ajax({
                    url: 'http://localhost:53612/api/Pizza/IncreaseItemFromCart/'+ productid,
                    method: 'PUT',
                    contentType: "application/json; charset=utf-8",
                    headers: {
                        'Authorization': 'Bearer ' + sessionStorage.getItem('tokens')
                    },
                    success: function (data) {
                        displayFinalCart();
                    },
                    error: function (err) {
                        alert(err);
                    }
                });

            displayFinalCart();
        });

        $(".fa-minus-square").click(function () {
            let productid = $(this).attr("id");
            $.ajax({
                url: 'http://localhost:53612/api/Pizza/DecreaseItemFromCart/' + productid,
                method: 'Delete',
                contentType: "application/json; charset=utf-8",
                headers: {
                    'Authorization': 'Bearer ' + sessionStorage.getItem('tokens')
                },
                success: function (data) {
                    displayFinalCart();
                },
                error: function (err) {
                    alert(err);
                }
            });
        });
        }

        function addPlaceOrderRequest() {
            $("#placeOrder").click(function () {

                let username = sessionStorage.getItem('username');
                    $.ajax({
                        url: 'http://localhost:53612/api/Pizza/PostOrder',
                        method: 'Post',
                        data: JSON.stringify(username),
                        contentType: "application/json; charset=utf-8",
                        headers: {
                            'Authorization': 'Bearer ' + sessionStorage.getItem('tokens')
                        },
                        success: function (data) {
                            // document.location.href = '@Url.Action( "PaymentDominos", "Payment")';
                            sendUserDetails();
                        },
                        error: function (err) {
                            alert(err);
                        }
                    });

                });
        }

        function sendUserDetails()
        {
            let username = sessionStorage.getItem('username');
            let Amount= sessionStorage.getItem('Amount');
            $.ajax({
                url: 'http://localhost:53612/api/Pizza/GetUserDetails?Username=' + username,
                method: 'Get',
                contentType: "application/json; charset=utf-8",
                headers: {
                    'Authorization': 'Bearer ' + sessionStorage.getItem('tokens')
                },
                success: function (response) {
                    console.log(response);
                    document.location = 'http://localhost:56959/Payment/PaymentDominos?Email=' + response.Email+"&Phoneno="+response.PhoneNo+"&Amount="+Amount;
                   // document.location.href = '@Url.Action( "PaymentDominos", "Payment")';
                }
            });
        }



    </script>
}