@{
    ViewBag.Title = "PizzaMenu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/PizzaMenu.css">

<div class="row bannstyl">
    <div class="col-sm-4 ">
        <img src="~/Content/images/banner.png" height="120" width="550" />
    </div>
    <div class="col-sm-4">
        <img src="~/Content/images/bann.png" height="120" width="500" />
    </div>
</div>
<div>
    <br />
    <div class="col-3" id="cart">
        <div class="card hgtwdth">
            <div id="emptyCart">
                <img src="@Url.Content("~/Content/images/cart.png")" alt="" id="cartImg" class="ml-auto">
                <div class="card-body">
                    <h5 class="text-center mt-5">YOUR CART IS EMPTY</h5>
                    <p class="text-center">Please add some items from the menu.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-8">
        <div class="text-center my-4">
            <hr style="width:40%;float:left" /><strong style="color:green">VEG PIZZAS</strong><hr style="width:40%;float:right" />
        </div>

        <div class="row" id="vegPizzas">


        </div>

    </div>

    <div class="col-8">
        <div class="text-center my-4">
            <hr style="width:40%;float:left" /><strong style="color:red">NON-VEG PIZZAS</strong><hr style="width:40%;float:right" />
        </div>

        <div class="row" id="nonVegPizzas">


        </div>

    </div>

    <div class="col-8">
        <div class="text-center my-4">
            <hr style="width:40%;float:left" /><strong style="color:blue">PIZZA MANIA</strong><hr style="width:40%;float:right" />
        </div>

        <div class="row" id="pizzaMania">


        </div>

    </div>
</div>

@section scripts
    {
    <script>
   
        $(document).ready(function () {
   
            $.getJSON('http://localhost:53612/api/Pizza/GetPizza', function (data) {
                console.log(data);
                displayCart();
                let card;
                for (let i in data) {
                    card = `<div class="card col-lg-3 col-md-6 p-0 mx-lg-4 mx-sm-auto mx-md-auto my-3" id ="card-${data[i].MenuId}">
                        <img src="${data[i].Image}" class="card-img-top " alt="...">
                        <span class="price">₹${data[i].Prices[0].PriceOfProduct}</span>
                        <div class="card-body p-2">
                            <h6 class="mt-n4 pizzaName">${data[i].MenuName}</h6>
                            <p class="card-text"> ${data[i].Description}</p>
                            <hr />
                                <div class="mb-2">
                                    <small class="card-text">Size</small></br>
                                    <select>`;
                    for (let j in data[i].Prices) {
                        card += `<option price="${data[i].Prices[j].PriceOfProduct}" size="${data[i].Prices[j].Size}" value="${data[i].Prices[j].ProductId}">${data[i].Prices[j].Size} ₹${data[i].Prices[j].PriceOfProduct}</option>`;
                    }
                        card+=      `</select>
                                    <button type="button" class="btn btn-outline-success btn-sm addToCart mt-2"
                                    productid="${data[i].Prices[0].ProductId}" pizzaName="${data[i].MenuName}"
                                    price="${data[i].Prices[0].PriceOfProduct}" size="${data[i].Prices[0].Size}"
                                    menuid="${data[i].MenuId}" Description="${data[i].Description}" image="${data[i].Image}">
                                    ADD TO CART</button>
                                </div>
                        </div>
                    </div>`;

                    if (data[i].Prices.length == 1)
                        $('#pizzaMania').append(card);
                    else if(data[i].Category == "Veg")
                        $("#vegPizzas").append(card);
                    else
                        $("#nonVegPizzas").append(card);
                }
                addToCartEvent();
                changeSizeEvent();
            });
        });
        function displayCart() {
            $("#emptyCart").hide();
            $("#loadedCart").remove();
            let content = `<div  id="loadedCart"><div class ="card-body">`;
            let subTotal = 0;
            let lineTotal = 0;
            let newsubTotal = 0;

            $.getJSON('http://localhost:53612/api/Pizza/GetAllCartData', function (data) {

                if (data == "") {
                    $("#emptyCart").show();
                    $("#loadedCart").remove();
                    return;
                }
                console.log(data);
                for (let x in data) {
                    lineTotal = parseInt(data[x].Quantity) * parseInt(data[x].Price);
                    subTotal += lineTotal;
                    newsubTotal = parseInt(data[x].Quantity) * parseInt(data[x].Price);
                    content += `<div class="row mar">
                                    <div class ="col-sm-2"><img src="${data[x].Image}" id="imghgt">
                                    <br/></br>
                                    <div class ="mt"><small>Quantity ${data[x].Quantity}</small></div>
                                    </div>
                           <div class ="col-sm-6"> <h6>${data[x].MenuName}</h6>
                           <p class ="mb-2"><small>${data[x].Description}</small></p>
                            <p class ="ml-2 color">${data[x].Size}
                            ₹${newsubTotal} <button class ="btn btn-danger btn-sm  remove" id="${data[x].ProductId}">Remove</button></p></div>
                            </div><hr/>`;
                    newsubTotal = 0;
                }
                content += `</div><div id="cartFooter"><h4 class="px-2 m-0">Subtotal<span class="float-right">₹${subTotal}</span></h4></div>
                        <button class="btn btn-lg btn-success" id="checkoutBtn">Checkout</button></div>`
                $('#cart').find('.card').append(content);
                addRemoveEvent();
                checkOutPage();
            });
        }

        function addToCartEvent() {
            $(".addToCart").click(function () {
                let menuid = $(this).attr("menuid");
                let productid = $(this).attr("productid");
                let username= "@Request.Cookies["Username"].Value";
                let obj = {
                    MenuId: menuid,
                    ProductId: productid,
                    OrderedBy: username,
                    Quantity:1
                }
   
                $.ajax({
                    url: 'http://localhost:53612/api/Pizza/AddCart',
                    method: 'Post',
                    data: JSON.stringify(obj),
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        displayCart();
                    },
                    error: function (err) {
                        alert(err);
                    }
                });
                
            });
        }
        function changeSizeEvent() {
            $("select").change(function () {
                let selectedPrice = $(this).find(':selected').attr('price');
                let selectedItem = $(this).find(':selected').attr('value');
                let selectedSize = $(this).find(':selected').attr('size');
                $(this).closest('div').children("button").attr("productid", selectedItem);
                $(this).closest('div').children("button").attr("size", selectedSize);
                $(this).closest('div').children("button").attr("price", selectedPrice);
                selectedPrice = "₹" + selectedPrice;
                $(this).closest('.card').children(".price")[0].innerHTML = selectedPrice;
            });
        }
        

        function checkOutPage() {
            $('#checkoutBtn').click(function () {
                document.location = '@Url.Action("Checkout","Dominos")';
                return false;
            });
        }
        function addRemoveEvent() {
            $('.remove').click(function () {
                let productid = $(this).attr("id");
               
                $.ajax({
                    url: 'http://localhost:53612/api/Pizza/DecreaseItemFromCart/' + productid,
                    method: 'Delete',
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        displayCart();
                    },
                    error: function (err) {
                        alert(err);
                    }
                });
            });
        }
    </script>
}